h1{
    background-color: green;
    padding: 12px;
}

.Isi{
    border: 2px solid tomato;
    padding: 12px 8px;
}

.gambar{
    size: 100px 100px;
    padding: 100px;
    font-size:20px;
    border: 2px solid black;
    border-radius: 8px;
    background-size: 100%;
    background-image: url("images/gambar1.jpg");
    background-repeat: no-repeat;
    background-position: right;

}
